:root {
  --azul: #2d9bf0;
  --azulinvisible: #2d9bf000;
  --blanco: #FFFAF0;
  --blancofondo: #f6f5f1;
  --negro: #1a1a1a; 
  --gris: #808080;
  --verde: #8fd14f;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: var(--blancofondo);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  text-decoration: none;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.buttonclassic {
  width: 150px;
  color: var(--negro);
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid var(--negro);
  background-color: var(--blanco);
}